<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connect_a_brituser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectABritUser"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.Club.ListClubActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Club.BuisnessClubActivity"
            android:exported="false"
            android:parentActivityName=".UI.Club.ClubActivity" />
        <activity
            android:name=".UI.Club.LeaderClubActivity"
            android:exported="false"
            android:parentActivityName=".UI.Club.ClubActivity" />
        <activity
            android:name=".UI.Club.DramaClubActivity"
            android:exported="false"
            android:parentActivityName=".UI.Club.ClubActivity" />
        <activity
            android:name=".UI.Club.SportClubActivity"
            android:exported="false"
            android:parentActivityName=".UI.Club.ClubActivity" />
        <activity
            android:name=".UI.Club.ClubRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Extra.CalenderActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.UserChat.ChatActivity"
            android:exported="false"
            android:parentActivityName=".UI.User.UserActivity"
            android:theme="@style/Theme.ConnectABritUserNo" />
        <activity
            android:name=".UI.User.UserActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.User.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.User.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Club.ClubActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.Extra.DeveloperActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.Gallery.GalleryFullView"
            android:exported="false" />
        <activity
            android:name=".UI.Extra.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>